.container {
  outline:1px solid black;
  
  padding-left: 10px;
  padding-right: 10px;
  width: 1180px;
  box-sizing:  border-box;
  margin-left: auto;
  margin-right: auto;
}

/* img {
  max-width: 100%;
  height: auto;
} */

.write-us {
  background-color: #ccf;
  
  max-width: 760px;
  
  padding: 70px 100px 85px 100px;
}

.write-us label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}


.write-us-form {
  background-color: #fcc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 55px;
}

.write-us .string {
  background-color: #ffc;
  
  display: flex;
  flex-direction: column;
  
  min-width: 360px;
  
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
}

.write-us .textbox {
  background-color: #ffc; 
 
  display: flex;
  flex-direction: column;
  
  min-width: 760px;
 
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
}


/* Сетка - Шапка */
.main-header {
  outline:1px solid red;
}

.navigation {
  background-color: #fcc;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin-top: 49px;
  margin-bottom: 19px;
}

.site-logo {
  background-color: #ffc;
 
  display: flex;
  min-width: 160px;
}

.site-navigation {
  background-color: #ffc;
  
  display: flex;
  flex-wrap: wrap;
  
  margin-left: -85px;
  margin-bottom: 0;
}

.site-navigation li{
  background-color: #ccc;
}

.site-navigation li:not(:last-child) {
  margin-right: 46px;
}

.cartbox {
  padding-top: 15px;
}

.cart-link {
  background-color: #fcc;
  padding-left: 40px;
  
  position: relative;
}

.cart-link::before {
  content: "";
  
  position: absolute;
  width: 15px;
  height: 15px;
  
  top: 2px;
  left: 0px;
  
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
 }

/* Сетка - Слайдер */
.main-slider {
  background-color: #ffc;
  
  display: flex;
  flex-direction: column;
  
  margin-bottom: 70px;
}

.slide {
  background-color: #fcc;  

  padding-top: 58px;
  
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 397px -20px;
}

.slide b {
  background-color: #ffc;
  
  display: flex;
  
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  
  margin-bottom: 26px;
}

.slide p {
  background-color: #ffc;
  
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  
  margin-bottom: 40px;
}

.slide .button {
  margin-bottom: 80px;
  
  padding-left: 54px;
  padding-right: 54px;
}



/* Сетка - Контент */
.features {
  outline:1px solid black;

  margin-top: 80px;
}

.features ul {
  background-color: #fcc;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.features li {
  background-color: #ffc;
  
  width: 300px;
  
  margin-right: 60px;
  margin-bottom: 80px;
}

/* .features li:nth-child(3n) {
  background-color: #ccc;
  margin-right: 40px;
} */

.features img {
  margin-bottom: -9px;
}

.features h3 {
  margin-bottom: 16px;
}

.features p {
  padding-right: 20px; /* Для переноса как в макете */
  margin-bottom: 32px;
}

.features-line {
/*   border-bottom: 2px solid #eeeeee;  */
  border-bottom: 2px solid red;
  margin-bottom: 40px;
}

.about-us-line {
/*   border-bottom: 2px solid #eeeeee;  */
  border-bottom: 2px solid red;
  margin-bottom: 46px;
}

.partners-line {
/*   border-bottom: 2px solid #eeeeee;  */
  border-bottom: 2px solid red;
  margin-bottom: 80px;
}

.about-us {
  display: flex;
  
  margin-bottom: 33px;
}

.about-us section {
  background-color: #fcc;
  
  display: flex;
  flex-direction: column;
}

.statistics {
  background-image: url("../img/nerds-illustration.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  
  min-width: 360px;
}

.why-we {
/*   margin-right: 150px; /* Для переноса как в макете */ */
}

.why-we-main-title {
  background-color: #ffc;
  
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  
  margin-top: 34px;
  margin-bottom: 17px;
  
  margin-right: 120px;
}

.why-we-text {
  background-color: #ffc;
  
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  
  margin-bottom: 39px;
  margin-right: 120px;
}

.why-we-listtitle {
  background-color: #ffc;
  
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  
  margin-bottom: 8px;
}
  
.why-we li {
  background-color: #ffc;
  
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
  
  margin-bottom: 24px;
  margin-left: -4px;
  list-style: none;
}

.about-us .title-statistics {
  background-color: #ffc;
  
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  
  margin-top: 244px;
  margin-bottom: 38px;
  align-self: center;
}

.about-us tr {
  display: flex;
  margin-bottom: 17px;
  margin-left: -2px;
}

.table-title td {
  margin-right: 19px;
}

.table-text td {
  margin-right: 24px;
}

.about-us sup {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;  
}

.about-us .table-title {
  background-color: #ffc;
  
  font-size: 45px;
  font-weight: 700;
  line-height: 45px; 
}

.about-us .table-text {
  background-color: #ffc;
  
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; 
}

.partners {
  background-color: #fcc;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  list-style: none;
  
  margin-top: 0;
  margin-bottom: 35px;
  padding-left: 31px;
  padding-right: 43px;
  
  
}

.partners li {
  background-color: #ffc;
  
  border-right: 10px solid #red;
  
}
.partners div {
  position: relative;
}

.partners div:not(:last-child)::after  {
  
  content: "";
  
  position: absolute;
  width: 2px;
  height: 52px;
  
  background-color: red;
/*   background-color: #eeeeee; */
  
  top: -32px;
  left: 4px;
}

.map {
  background-color: #ccf;
  padding-top: 30px; /* Временно */
  padding-bottom: 30px; /* Временно */
  margin-bottom: 50px;
}

.map-marker {
  background-color: #ccc;
  
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  background-position: 500px 50px;
}

.contacts {
  display: flex;
  flex-direction: column;
  background-color: #ffc;
  width: 230px; /* Переделать */ 
  padding: 50px 50px 50px 50px;
}

.contacts b {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

/* Сетка - Подвал */
.footer-container {
  background-color: #fcc;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.socialnetworks {
  background-color: #ffc;
  
  margin-top: -2px;
  margin-bottom: 0;
  padding-left: 0;
}

.socialnetworks li {
  margin-right: 10px;
}

.footer-text {
  background-color: #ffc;
  padding-right: 218px; /* Переделать */
  display: flex;
  flex-direction: column;
}

.footer-title {
  
  margin-bottom: -6px;
}

/* Сетка - Каталог */
.page-title {
  outline:1px solid green;
  
  text-align: center;
  
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog {
  outline:1px solid yellow;
}

.catalog-list {
  outline:1px solid green;
  
  width: auto;
  
  display: flex;
  flex-wrap: wrap;
  
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog-item {
  outline:1px solid red; 
  
  width: 360px;
}




/* Основные */
body {
  background: #ffffff;
  color: #000000;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка */
.navigation {
  font-weight: 500;
  text-transform: uppercase;
}

.site-logo:hover,
.site-logo:focus {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.3;
}

.navigation li {
  list-style: none;
}

.navigation a {
  color: #000000;
  text-decoration: none;
}

.navigation a:hover,
.navigation a:focus {
  color: #fb565a;
}

.navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.navigation-link-current {
  border-bottom: 2px solid #fb565a;
}

/* Подвал */
.footer b {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.footer p {
  line-height: 22px;
}

.footer li {
  list-style: none;
}

.socialnetworks {
  display: flex;
}

.socialnetworks a {
  
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1; 
}

.socialnetworks a:hover,
.socialnetworks a:focus {
  background-color: #e74246;
}

.socialnetworks a:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
}

/* Кнопки */
.button {
  display: inline-block;
  padding: 16px 40px; 
  margin-right: 12px; /* Для кнопок соц. сетей */
  min-width: 80px;
  
  text-decoration: none;
  background-color: #fb565a;
  border: none;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
  color: #e37376;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 #009958;
  color: #4dc491;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 #ce961f;
  color: #edc265;
}

.button-gray {
  background-color: #eeeeee;
  color: #000000;
}

.button-gray:hover,
.button-gray:focus {
  background-color: #dfdfdf;
}

.button-gray:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 #bfbfbf;
  color: #959595;
}

/* Контент */
.features h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.features li {
  list-style: none;
}

.features p {
  line-height: 24px;
}

.sort li {
  list-style: none;
}

.catalog-list li {
  list-style: none;
}

.catalog-list div {
  background-color: #eeeeee;
}

.catalog-list h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;

  text-align: center;
  text-transform: uppercase;
}

.catalog-list h3:hover,
.catalog-list h3:focus {
  color: #fb565a;
}

.catalog-list h3:active {
  color: #c9c9c9;
}

.catalog-list p {
  color: #666666;
  line-height: 18px;
  text-align: center;
}

.catalog-list a {
  text-decoration: none;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: #e74246;
}

.catalog-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 #c13135;
}

/* Пагинация */
.pagination-button {
  background-color: #eeeeee;
  color: #000000;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: #dfdfdf;
}

.pagination-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 #bfbfbf;
  color: #a8a8a8;
}

.pagination-button-current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  color: #000000;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.pagination a {
  text-decoration: none;
}

.pagination li {
  list-style: none;
}